body {
    font-family: 'Roboto', sans-serif;
}

/* Containers*/

.container-wrapper {
    
} 

.container-wrapper--red {
    background-color: #f74704cc;
     color: white;
}

.alert-container {}

.callout-container {
    height: 100vh;
    /*viewpoint height*/
    
    background: url("../images/whiskey.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: cover;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/*navbar*/

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: transparent;
}


.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-btn {
    border: 0;
    border-radius: 16px;
    width: 100px;
    background-color: #f74704cc;
    color: white;

}

.navbar-btn:hover {
    background-color: #c36908;
    border-color: #c36908;
    color: white;

}

/*Jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.jumbotron .lead {
    color: #ece5e5;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 80%;
    font-style: italic;
    color: #d0d0d0;
}

/*block dividers*/

.block-divider {
    height: 5px;
    border: 0;
background-color: #444;
}

.block-divider--orange {
    background-color: #f74704cc;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

/*Buttons*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f74704cc;
    border-color: #f74704cc;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #c36908;
    border-color: #c36908;
    color: white;
}

/*Alert*/

.alert-container .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    color: #8a6d3b;
    background-color: #e5cc4b;
    border-color: #e5cc4b;
    padding: 5px 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0;
}

/*Page headers*/

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}
.page-header h2 {
    margin-top: 0;
}

.monthly {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}

/*Quotes */

.quotes .page-header {
    margin-bottom: 25px;
}


blockquote.quote {
    border-left: 0;
}

/*Features*/

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature .glyphicon {
    display: block;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f05f40;
    
}
.feature .btn:hover {
    background-color: #c36908;
    border-color: #c36908;
    color: white;
